#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%
}

#compile {
    position: absolute;
    top: 0;
    right: 0;
    height: 10;
}

#load {
    position: absolute;
    top: 0;
    right: 100px;
    height: 10;
}

#save {
    position: absolute;
    top: 0;
    right: 200px;
    height: 10;
}

#registerUser {
    position: absolute;
    top: 0;
    right: 300px;
    height: 10;
}



#iframe {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0px;
    width: 50%;
    height: 95%;
    background-color:  #fff;
}

#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    background-color: #fff;
    width:100%;
    height: 100%;
}